html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

body {
    background-color: rgb(255, 211, 182);
    margin: 5px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
h2{
  font-size: 1.5em;
    margin: 0;
}
  
body .main {
    
    justify-content: space-around;  
    align-items: stretch;
}

nav{
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position:fixed;
  background-color: rgb(195, 86, 13) ;
  height: auto; 
  margin: 0;
  padding: 5px;
  color: black;
}

nav img {
  height: 70px;
  width: 71px;   
}

nav ul{
  margin:  0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav ul li {
  margin: 10px;
  list-style: none;
  
}

nav ul li a{
  text-decoration: none;
}

nav ul li :nth-child(2){
  position: relative;
  right: 5px;
}

nav p{margin: 0;}

.blackbox {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: auto;
    height: 500px;
    background-color: #424242;
  }

  .blackbox img{
    margin-top: 10%;
    margin-left: 350px;
    height: 350px;
  }
  
  .sumbox {
    width: auto;
    height: 200px;
    padding: 10px;
    background-color: rgb(172, 81, 6);
  }
  
  .orangebox {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgb(194, 128, 4);
    
  }

  .orangebox ul li{
    list-style: none;
    margin-top: 30px;
    
  }

  li img{
    height: 325px;
  }

  li p{
    
  }